*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif ;
    
}
.navbar{
    width: 100vw;
    height: 60px;
  
}
.cart ion-icon{
    vertical-align: bottom;
    font-size: 20px;
    padding-right:5px;
}
.cart a{
    background-color:palevioletred
    color:white;
    cursor: pointer;
    text-decoration: none;

}


.slidershow{
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.middle{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.navigation{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width:50px;
    height: 20px;
    border: 2px solid black;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #ffffff;

}
input[name="r"]{
    position: absolute;
    visibility: hidden;

}
.slides{
    width:500%;
    height: 100%;
    display: flex;

}
.slide{
    transition: 0.6s;
    width:20%
    
}
.slide img{
    width:100%;
    height: 100%;
}
#r1:checked ~.s1{
    margin-left: 0;
}
#r2:checked ~.s1{
    margin-left: -20%;
}
#r3:checked ~.s1{
    margin-left: -40%;
}
#r4:checked ~.s1{
    margin-left: -60%;

}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;  
}
 
.image{
margin-right: 20px;
margin-left: 80px;
position: relative;
overflow: hidden;
padding-top: 200px;
font-size: 15px;
align-items: center;
}

   
.add-cart{
    position: absolute;
    width:100%;
    background-color:darkgrey;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
    bottom:120px;
}
.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3 {
    bottom: 50px;
    opacity: 1;
    padding: 20px;
    text-decoration:none
}

.row{
   
    height: 50vh;
    background-repeat: no-repeat;
    width: 50vwvw;
    background-size: cover;
    text-align: center;
    
  
}

#row-bg{
    background-image: url("../images/background/bg2.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
     margin-top: 120px;
   
}
.btn {
    border:white;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
#text{
    text-align: center;
    padding: 200px;
    justify-content:center;
    align-items: center;
    margin-left: 200px;
    margin-top: 100px;
    color:black;
    
}